<!DOCTYPE html>
<!-- templates/faculty_page.html -->
<html lang="en">
{% extends 'layout.html' %}

{% block title %}Faculty Page{% endblock %}

{% block content %}
<div class="main-content">
    <h1>Welcome to the Faculty Page</h1>

    <a href="/student_academic_management" style="background-color: #007bff; color: #fff; padding: 20px 40px; font-size: 24px; border: none; border-radius: 10px; cursor: pointer; transition: background-color 0.3s; text-decoration: none;">Student Academic Management</a>
</div>
{% endblock %}
</html>
